<% form_for @user do |f| %>
<div id="form">
<%= form_with(scope: :session, url: login_path, local: true) do |form| %>

    <%= form.label :email, class: "sr-only" %>
    <%= form.email_field :email, placeholder: "Enter your email address" %>
    <%= form.submit "Log in"%>
<% end %>
</div>
<% end %>